{
    "tabWidth": 4,
    "printWidth": 80,
    "semi": false,
    "singleQuote": true,
    "bracketSpacing": true,
    "jsxBracketSameLine": true,
    "quoteProps": "as-needed",
    "jsxSingleQuote": false,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "endOfLine": "auto",
    "importOrder": [
        "^@pages/(.*)$",
        "^@components/(.*)$",
        "^@styles/(.*)$",
        "^@lib/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}